 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/1c6231fe118212e0f8a5db01f80882f122d5dc0af16836c3e131ed3ea601e6a7b5cccaec0f1f396d1608955f9cb6b12701a3f41c347b6096d0b82c_1280.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 592px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-size: 6rem;
  font-weight: 700;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0.85;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 257px auto 0 45px;
}

.u-section-1 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 37px 59px 60px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 488px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 374px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 281px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 719px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: 65px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 41px;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(51,51,51,0.4), rgba(51,51,51,0.4)), url("../images/3d-medical-background-with-virus-cells-dna-strand.jpg");
}

.u-section-2 .u-sheet-1 {
  min-height: 386px;
}

.u-section-2 .u-line-1 {
  width: 697px;
  transform-origin: left center 0px;
  margin: 115px auto 0 0;
}

.u-section-2 .u-text-1 {
  font-size: 1.125rem;
  margin: -105px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 3.75rem;
  margin: -311px 421px 60px -22px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    background-position: 50% 50%;
  }

  .u-section-2 .u-line-1 {
    margin-left: 100px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 1;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-left: 100px;
    margin-right: 100px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-right: 329px;
    margin-left: 78px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-line-1 {
    margin-left: 210px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 210px;
    margin-right: 210px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 210px;
    margin-right: 210px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-line-1 {
    width: 540px;
    margin-left: 300px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-2 .u-text-2 {
    font-size: 2.25rem;
    margin-right: 335px;
    margin-left: 286px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-line-1 {
    width: 340px;
    margin-left: 400px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 350px;
    margin-right: 350px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 840px;
}

.u-section-3 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 65px auto 0 0;
}

.u-section-3 .u-tabs-1 {
  min-height: 588px;
  height: auto;
  margin-top: 38px;
  margin-bottom: 38px;
}

.u-section-3 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-3 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-3 .u-tab-pane-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 30px 13px;
}

.u-section-3 .u-image-1 {
  width: 317px;
  height: 444px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: 0px;
  margin: 34px auto 0 60px;
}

.u-section-3 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 700;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -444px 0 0 522px;
}

.u-section-3 .u-text-3 {
  line-height: 1.8;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1.25rem;
  margin: 16px 0 0 522px;
}

.u-section-3 .u-tab-pane-2 {
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 6px;
}

.u-section-3 .u-text-4 {
  font-size: 1.875rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 14px 99px 0 580px;
}

.u-section-3 .u-image-2 {
  width: 377px;
  height: 302px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 22px auto 0 53px;
}

.u-section-3 .u-text-5 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1.25rem;
  margin: -302px 0 0 468px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 862px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 10px;
    font-size: 3.75rem;
  }

  .u-section-3 .u-tabs-1 {
    min-height: 711px;
  }

  .u-section-3 .u-image-1 {
    width: 268px;
    height: 436px;
    margin-top: 22px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -424px;
    margin-left: 322px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 322px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 0;
    padding-left: 24px;
    padding-right: 24px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 37px;
    margin-right: 30px;
    margin-left: 413px;
  }

  .u-section-3 .u-image-2 {
    width: 348px;
    height: 279px;
    margin-top: 49px;
    margin-left: 44px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: -305px;
    margin-left: 403px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 917px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    font-size: 3rem;
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-3 .u-tabs-1 {
    min-height: 785px;
    width: 743px;
    margin: 20px -11px 39px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-image-1 {
    margin-top: 73px;
    margin-left: 20px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: -471px;
    margin-right: 30px;
    margin-left: 288px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 9px;
    margin-right: 30px;
    margin-left: 307px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 39px;
    margin-right: 120px;
    margin-left: 152px;
  }

  .u-section-3 .u-image-2 {
    width: 19px;
    height: 15px;
    margin-top: 84px;
    margin-left: -123px;
  }

  .u-section-3 .u-text-5 {
    margin-top: -71px;
    margin-right: 43px;
    margin-left: 53px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 673px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-tabs-1 {
    min-height: 594px;
    width: 640px;
    margin-left: -50px;
    margin-right: -50px;
    margin-bottom: 0;
  }

  .u-section-3 .u-image-1 {
    width: 41px;
    height: 23px;
    margin-top: 273px;
    margin-left: -199px;
  }

  .u-section-3 .u-text-2 {
    width: 425px;
    margin-top: -257px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-3 {
    margin-top: 29px;
    margin-left: 24px;
    margin-right: 24px;
    font-size: 1rem;
  }

  .u-section-3 .u-text-4 {
    margin-right: 19px;
    margin-left: 51px;
  }

  .u-section-3 .u-image-2 {
    margin-top: 105px;
  }

  .u-section-3 .u-text-5 {
    margin-top: -86px;
    margin-left: 6px;
    margin-right: 6px;
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1097px;
  }

  .u-section-3 .u-tabs-1 {
    min-height: 959px;
    margin-bottom: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.25rem;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    margin-top: 229px;
  }

  .u-section-3 .u-text-5 {
    margin-top: -224px;
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-4 {
  background-image: url("../images/Screenshot2023-06-08120214.png");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 584px;
}

.u-section-4 .u-slider-1 {
  min-height: 518px;
  height: auto;
  margin: 33px 0;
}

.u-section-4 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: 7px;
}

.u-section-4 .u-carousel-item-1 {
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 42px auto 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 67px 0;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 33px auto 0;
}

.u-section-4 .u-carousel-item-2 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 20px auto 0;
}

.u-section-4 .u-text-4 {
  margin: 11px 33px 0;
}

.u-section-4 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 22px auto 0;
}

.u-section-4 .u-carousel-item-3 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  margin: 49px auto 0;
}

.u-section-4 .u-text-6 {
  width: 679px;
  margin: 33px auto 0;
}

.u-section-4 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 33px auto 0;
}

.u-section-4 .u-carousel-item-4 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px 60px;
}

.u-section-4 .u-text-7 {
  font-weight: 700;
  margin: 49px auto 0;
}

.u-section-4 .u-text-8 {
  width: 679px;
  margin: 41px auto 0;
}

.u-section-4 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 41px auto 0;
}

.u-section-4 .u-carousel-control-1 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: -58px;
  position: absolute;
  right: auto;
}

.u-section-4 .u-carousel-control-2 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: auto;
  position: absolute;
  right: -58px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 587px;
  }

  .u-section-4 .u-slider-1 {
    min-height: 540px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-carousel-item-1 {
    background-position: 50% 50%;
  }

  .u-section-4 .u-text-2 {
    width: 609px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-carousel-item-2 {
    background-position: 50% 50%;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 28px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: 8px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-4 .u-btn-2 {
    margin-bottom: -13px;
  }

  .u-section-4 .u-carousel-item-3 {
    background-position: 50% 50%;
  }

  .u-section-4 .u-btn-3 {
    margin-right: 317px;
  }

  .u-section-4 .u-carousel-item-4 {
    background-position: 50% 50%;
  }

  .u-section-4 .u-carousel-control-2 {
    top: 241px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-text-6 {
    width: 660px;
  }

  .u-section-4 .u-btn-3 {
    margin-top: 39px;
    margin-right: 238px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-text-8 {
    width: 660px;
  }

  .u-section-4 .u-btn-4 {
    margin-right: 242px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 0;
  }

  .u-section-4 .u-text-2 {
    width: 520px;
  }

  .u-section-4 .u-container-layout-2 {
    padding: 4px 10px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 0;
    font-size: 2.25rem;
  }

  .u-section-4 .u-btn-2 {
    margin-bottom: 0;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-top: 58px;
  }

  .u-section-4 .u-text-6 {
    width: 520px;
    margin-top: 24px;
  }

  .u-section-4 .u-btn-3 {
    margin-top: 32px;
    margin-right: 173px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-7 {
    width: auto;
  }

  .u-section-4 .u-text-8 {
    width: 520px;
  }

  .u-section-4 .u-btn-4 {
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-2 {
    width: 320px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-text-6 {
    width: 320px;
  }

  .u-section-4 .u-btn-3 {
    margin-right: auto;
  }

  .u-section-4 .u-text-8 {
    width: 320px;
  }
}